version: "3.9"

services:
  frontend:
    build: ./client
    container_name: frontend
    ports:
      - "80:80"
    networks:
      - devops
    restart: always
    depends_on:
      - backend
    volumes:
      - nginx_access:/var/log/nginx
      - nginx_error:/var/log/nginx

  backend:
    build: ./server
    container_name: backend
    environment:
      MONGO_URI: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017/${MONGO_DB}?authSource=admin
    ports:
      - "5003:5003"
    networks:
      - devops
    restart: always
    volumes:
      - backend_logs:/var/log/backend

  mongo:
    image: mongo:6.0
    container_name: mongo_db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - mongo_data:/data/db
    networks:
      - devops

networks:
  devops:

volumes:
  mongo_data:
  backend_logs:
  nginx_access:
  nginx_error:
